In [2]:
import data
data.load_data()

In [ ]:
sql = '''
CREATE TABLE IF NOT EXISTS youbike(
	_id Serial Primary Key,
    sna VARCHAR(50) NOT NULL,
	sarea VARCHAR(50),
    ar VARCHAR(100),
	mday timestamp,
	updateTime timestamp,
	total SMALLINT,
	rent_bikes SMALLINT,
	retuen_bikes SMALLINT,
	lat REAL,
	lng REAL	
);
'''

In [1]:
import psycopg2
conn = psycopg2.connect("gresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            retuen_bikes SMALLINT,
            lat REAL,
            lng REAL	
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [3]:
import psycopg2
conn = psycopg2.connect("gresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp NOT NULL,
            total SMALLINT,
            rent_bikes SMALLINT,
            return_bikes SMALLINT,
            lat REAL,
            lng REAL,
            act boolean
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [ ]:
import data
all_data:list[dict] = data.load_data()

In [8]:
conn = psycopg2.connect("postgresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn:
	with conn.cursor() as cursor:            
		insert_sql = '''
		INSERT INTO youbike(sna, sarea, ar, mday, updatetime, total, rent_bikes,return_bikes,lat,lng,act)
		VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
		'''
		for site in all_data:
			cursor.execute(insert_sql,(site['sna'],
							  site['sarea'],
							  site['ar'],
							  site['mday'],
							  site['updateTime'],
							  site['total'],
							  site['rent_bikes'],
							  site['retuen_bikes'],
							  site['lat'],
							  site['lng'],
							  site['act']
							  ))
conn.close()